<?xml version="1.0"?>
<!DOCTYPE launch SYSTEM "https://gist.githubusercontent.com/nalt/dfa2abc9d2e3ae4feb82ca5608090387/raw/roslaunch.dtd">
<launch>
    <node pkg="robot_sim_gui" type="gui.py" name="robot_sim_gui" output="screen">
        <param name="resource_path" value="$(find robot_sim_gui)/resources" />
    </node>

    <include file="$(find topic_training)/launch/topic_training.launch" />
    <include file="$(find service_training)/launch/service_training.launch" />
</launch>